#include <winver.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 0,1,7,BUILDNUMBER
  PRODUCTVERSION 0,1,7,0
  FILEFLAGSMASK 0
  FILEFLAGS 0
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_DLL
  FILESUBTYPE VFT2_UNKNOWN
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904B0"
      BEGIN
	VALUE "CompanyName", "The libetonyek developer community"
	VALUE "FileDescription", "libetonyek"
	VALUE "FileVersion", "0.1.7.BUILDNUMBER"
	VALUE "InternalName", "libetonyek-0.0"
	VALUE "LegalCopyright", "Copyright (C) 2013 David Tardon, other contributors"
	VALUE "OriginalFilename", "libetonyek-0.0.dll"
	VALUE "ProductName", "libetonyek"
	VALUE "ProductVersion", "0.1.7"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x409, 1200
    END
  END

